
    <head>
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="/css/fontawesome.min.css" />
    <!-- http://api.jqueryui.com/datepicker/ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/css/templatemo-style.css">
  </head>

{% block body %}

  <div class="row  flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
        {% embed 'admin/dashboard.twig' %}
        {% endembed %}
    </div>
    <div class="col py-3">


    <div class="container mt-5">

    <div class="{{classAlert}}" role="alert">{{message}}</div>
    
      <div class="row tm-content-row">

        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-10 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-product-categories">

                      <h2 class="tm-block-title">HOTELS</h2>
            <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                  <tr>
                    <th scope="col">HOTEL NAME</th>
                    <th scope="col">STARS</th>
                    <th scope="col">COUNTRY</th>
                    <th scope="col">CITY</th>
                    <th scope="col">SHOW</th>
                    <th scope="col">UPDATE</th>
                    <th scope="col">DELETE</th>
                  </tr>
                </thead>
                <tbody>
                {% for h in data %}
                  <tr >
                    <td class="tm-product-name">{{h.name}}</td>
                    <td>{{h.stars}}</td>
                    <td>{{h.country}}</td>
                    <td>{{h.city}}</td>
                    <td>
                      <a href="/hotels/hotel/{{h.id}}"  class="tm-product-delete-link">
                     <i class="fas fa-file tm-product-delete-icon"></i>
                    </a>
                    </td> 
                      <td>
                      <a href="/hotels/update/{{h.id}} "  class="tm-product-delete-link">
                     <i class="fas fa-sync tm-product-delete-icon"></i>
                    </a>
                    </td> 
                    <td>
                      <a  href="/hotels/delete/{{h.id}} "  class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- table container -->
            <a href="/Hotels/add" class="btn btn-primary btn-block text-uppercase mb-3">Add new hotel</a>
          </div>
        </div>
      </div>
    </div>

    </div>    
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
      $(function() {
        $(".tm-product-name").on("click", function() {
          window.location.href = "edit-product.html";
        });
      });
    </script>
{% endblock %}